{% extends "blog/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <article class="full-post">
        <h1>{{ object.title }}</h1>
        <p class="post-meta">By {{ object.author.username }} on {{ object.published_date|date:"F d, Y" }}</p>

        {% if user.is_authenticated and user == object.author %}
            <div class="post-actions">
                <a class="btn btn-edit" href="{% url 'post_update' pk=object.pk %}">Edit</a>
                <a class="btn btn-delete" href="{% url 'post_delete' pk=object.pk %}">Delete</a>
            </div>
        {% endif %}

        <div class="post-content">
            {{ object.content|linebreaksbr }} </div>
    </article>
{% endblock %}